bin/
libs/
obj/

.cproject
.project
CMakeCache.txt
gmon.out
Makefile
cmake_install.cmake
CMakeFiles/
compiler/CMakeFiles/
compiler/cmake_install.cmake
compiler/plugins/CMakeFiles/
compiler/plugins/cmake_install.cmake

engine/CMakeFiles/
engine/cmake_install.cmake
engine/Makefile

game/CMakeFiles/
game/cmake_install.cmake
game/Makefile

glew/CMakeFiles/
glew/cmake_install.cmake
glew/Makefile

gmock/CMakeFiles/
gmock/cmake_install.cmake
gmock/Makefile

gtest/CMakeFiles/
gtest/cmake_install.cmake
gtest/Makefile

spikes/CMakeFiles/
tinyxml/CMakeFiles/

resources/images/*.texture
resources/materials/*.material
resources/materials/*.effect
resources/scene/*.model
resources/scene/*.scene